<div class="container-fluid footer navbar-bottom">
  <div class="row innerFoot">
      <div class="col-sm-4">
        <p id="footer">CREATED BY</p>
        <p><a href="https://github.com/jmacaldo" target="_blank">joven macaldo</a></p>
      </div>
      <div class="col-sm-4">
        <p>
          FOLLOW ME ON SOCIAL MEDIA
        </p>
        <div class="row">
            <img class="socMedia" src="../media/if_1_Media_social_website_facebook_2657542.png" alt=""> 
            <img class="socMedia" src="../media/if_2_Media_social_website_instagram_2657553.png" alt=""> 
        </div>
      </div>
      <div class="col-sm-4">
        <p>WEBSITE CREDITS</p>
        Stock photos from Pexels <br />
        Blog articles from UCLA, Design Shack, and CoinDesk
        Social media icons are from Icon Finder
      </div>
  </div>

</div>
