<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">joven macaldo | web developer</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/">View stories</a></li>
         <li><a href="/post">Post a new story</a></li>
         <li><a href="/manager">Manage entries</a></li>
       </ul>
       <li><a href="/portfolio">Portfolio</a></li>
     </li>
    </ul>
  </div>
</nav>
