<head>
  <title>New Blog Post</title>
<% include header.ejs %>
</head>
<% include nav.ejs %>
<div class="container webdev">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="webdev-left">
          <h1>Web Development</h1>
          <p><br>Certainly a work in progress! The two screenshots on the right show webpages that demonstrate the concepts learned in class so far: HTML, CSS, and Bootstrap. As you can see, the two pages do look quite similar. Minimal design elements and color are primarily used. I except to venture out into using more color and elaborate design as my skills as a web developer continue to grow! </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-9" id="webdevright">
      <img src="../media/web2.jpg" class="webdevphoto" alt="screenshot of website">
      <p class="webdevcaptions">“Inspiration Page” is the first assignment for class. This very basic HTML page serves as a repository of aesthetic ideas that inspire the student. Some basic CSS is also used here to style the navbar and main containing elements of the page.</p>
      <img src="../media/web1.jpg" class="webdevphoto" alt="screenshot of website">
      <p class="webdevcaptions">“About Me” shows some more HTML skills and a bit more advanced CSS. The page features an unusual CSS workaround trick wherein a div is rotated 90 degrees and the text inside it is rotated back so it’ll appear right side up. The result is a horizontal scrolling element. It’s clunky for sure, but it’s a novel solution to a problem!</p>
    </div> <!-- closig tag for webdev-right  -->
  </div> <!-- closig tag for row  -->
</div> <!-- closig tag for container webdev  -->
<!-- footer starts here -->
<% include footer.ejs %>
